/* h1 {
    font-family: 'GT America';  
    font-weight: 300;
    font-stretch: 125%; 
    color: red;
    font-size: 150px;
} */

:root {
  /* MEASURES */

  --max-width: min(90vw, 1000px);
  --ll-bleed: max(0px, calc((100vw - var(--max-width)) / 2));

  --space: clamp(4px, 0.5vw, 12px);
  --radius: clamp(10px, 1.8vw, 24px); /* Контейнерные размеры */

  --radius-max: 999px; /* Контейнерные размеры */
  --side-padding: clamp(16px, 4vw, 48px);
  --ll-average-gap: clamp(10px, 1.38vw, 20px);

  --p-max-width: 35vw;
  --p-gap: clamp(12px, 1.5vw, 20px);

  /* TYPO */

  --text-color-white: #ffffff;

  --label: 14px;
  --text-2: 16px;

  --text-1: clamp(16px, calc(12.818px + 0.682vw), 20px);

  --subheading: clamp(18px, calc(9.455px + 2.045vw), 24px);

  --heading-3: clamp(24px, calc(18.182px + 1.818vw), 32px);

  --heading-2: clamp(24px, calc(15.273px + 2.727vw), 48px);

  --heading-1: clamp(30px, calc(17.636px + 3.864vw), 64px);
}

* {
  font-style: normal;
  color: white;
  font-family: 'GT America';
  font-weight: 200;
  font-stretch: 125%;
  line-height: 130%;
}

button {
  all: unset;
  color: inherit;
}

body {
  background: black;
  color: var(--text-color-white);
  position: relative;
  overflow-x: hidden;
}

main {
  width: var(--max-width);
  margin-inline: auto;
}

h1 {
  font-size: var(--heading-1);
  color: white;
  font-family: 'GT America';
  font-weight: 200;
  font-stretch: 125%;
  line-height: 130%;
}

h2 {
  font-size: var(--heading-2);
  color: white;
  font-family: 'GT America';
  font-weight: 200;
  font-stretch: 125%;
  line-height: 130%;
}

h3 {
  font-size: var(--heading-3);
  color: white;
  font-family: 'GT America';
  font-weight: 200;
  font-stretch: 125%;
  line-height: 130%;
}

h4 {
  font-size: var(--subheading);
  color: white;
  font-family: 'GT America';
  font-weight: 200;
  font-stretch: 125%;
  line-height: 130%;
}

article {
  margin-bottom: calc(var(--side-padding) * 2);
  position: relative;
}

p {
  font-size: var(--subheading);
  color: white;
  font-family: 'GT America';
  font-weight: 200;
  font-stretch: 125%;
  line-height: 130%;
  max-width: var(--p-max-width);
}

p + p {
  margin-top: calc(var(--p-gap) * 2);
}

p .text-2 {
  font-size: var(--text-2);
  color: white;
  font-family: 'GT America';
  font-weight: 200;
  font-stretch: 125%;
  line-height: 130%;
  max-width: var(--p-max-width);
}

p .label {
  font-size: var(--label);
  color: white;
  font-family: 'GT America';
  font-weight: 200;
  font-stretch: 125%;
  line-height: 130%;
  max-width: var(--p-max-width);
}

/* ----- */

nav {
  display: flex;
  justify-content: center;
  gap: calc(var(--ll-average-gap) * 2);
  z-index: 4;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: calc(var(--ll-average-gap) * 1);
  width: max-content;

  font-size: var(--text-1);
  color: white;
  font-family: 'GT America';
  font-weight: 200;
  font-stretch: 125%;
  line-height: 130%;
}

.O_hero-block {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin-left: calc(50% - 50vw);
  overflow: hidden;
  isolation: isolate;
  display: flex;
  justify-content: center;
  align-items: center;
}

.O_hero-block::after {
  content: '';
  position: absolute;
  inset: 0;
  background: url('../images/backs/effect.png') center / cover no-repeat;
  z-index: 1;
  pointer-events: none;
}

.A_hero-block-bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  z-index: 0;
}

.A_hero-block-cards {
  position: absolute;
  inset: 0;
  width: 120vw;
  transform: translateX(-10vw);
  margin-top: calc(var(--space) * -7);
  object-fit: contain;
  display: block;
  z-index: 2;
  pointer-events: none;
}

.M_hero-content {
  position: absolute;
  top: 70vh;
  left: 50vw;
  transform: translateX(-50%);
  z-index: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--ll-average-gap);
  text-align: center;
  padding-inline: var(--side-padding);
}

.M_track-block {
  display: flex;
  flex-direction: column;
}

.M_tracks {
  margin-top: var(--p-gap);
}

.A_tracks-img {
  height: auto;
  margin-top: calc(var(--side-padding) * 1.3);
  margin-bottom: calc(var(--side-padding) * 1.3);
}

.O_album-block {
  display: flex;
  justify-content: space-between;
  gap: var(--ll-average-gap);
}

.A_artist-photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  transform: translateX(calc(var(--ll-bleed) * -1));
  height: auto;
  margin-bottom: var(--p-gap);
  z-index: -1;
}

.A_artist-photo::after {
  content: '';
  position: absolute;
  inset: 0;
  background: url('../images/backs/effect.png') center / cover no-repeat;
  z-index: 1;
  pointer-events: none;
}
.A_h1-with-gap {
  margin-top: calc(var(--side-padding) * 10);
}
